{% extends 'core/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}

<div class="w-full h-screen p-32 flex justify-center bg-white">
    <div class="w-full flex items-center justify-center">
        <div class="w-[60%] p-10">
            <h2 class="text-2xl font-bold mb-5 text-gray-800">Change Your Password</h2>

            <form method="post" action="{% url 'userprofile:change_password' %}">
                {% csrf_token %}

                <div class="mb-4">
                    <label for="new_password" class="block text-gray-700 text-sm font-bold mb-2">New Password:</label>
                    <input type="password" id="new_password" name="new_password"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        required>
                </div>
                <div class="mb-6">
                    <label for="confirm_password" class="block text-gray-700 text-sm font-bold mb-2">Confirm
                        Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        required>
                </div>
                <div class="flex items-center justify-center"> 
                    <button type="submit"
                        class="h-fit p-[2px] flex flex-row items-center justify-end  font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                        <span
                            class="w-60 py-1 flex flex-row justify-center items-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                            Change Password
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}