{% extends 'core/base.html' %}

{% block title %} Sign up{% endblock %}

{% block content %}<div class="w-full h-full p-32 flex justify-center">
    <div class="w-full min-h-full flex flex-col justify-center items-center overflow-y-auto">
        <div class="w-[400px] p-10 flex flex-col justify-between bg-white rounded-xl">
            <h1 class="w-full text-xl text-center font-bold">
                Sign up
            </h1>
            <form class="w-full pt-2 flex flex-col justify-between" method="post" action="."
                enctype="multipart/form-data">
                <div class="w-full pb-4 flex flex-col justify-center">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="{{ form.username.id_for_label }}" class="text-sm font-medium">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="mb-4">
                        <label for="{{ form.email.id_for_label }}" class="text-sm font-medium">Email</label>
                        {{ form.email }}
                    </div>
                    <!-- Add other form fields with labels -->
                    <div class="mb-4">
                        <label for="{{ form.image.id_for_label }}" class="text-sm font-medium">Profile Image</label>
                        {{ form.image }}
                    </div>
                    <div class="mb-4">
                        <label for="{{ form.password1.id_for_label }}" class="text-sm font-medium">Password</label>
                        {{ form.password1 }}
                    </div>
                    <div class="mb-4">
                        <label for="{{ form.password2.id_for_label }}" class="text-sm font-medium">Repeat the
                            password</label>
                        {{ form.password2 }}
                    </div>
                    <div id="password-conditions" style="display:none;">
                        <p>Password must be at least 8 characters long, include numbers and letters.</p>
                        <!-- Add other password conditions here -->
                    </div>
                </div>
                <div class="w-full flex items-center justify-center"> 
                    <button type="submit"
                        class="w-full h-fit p-[2px] flex flex-row items-center justify-end  font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                        <span
                            class="w-full py-1 flex flex-row justify-center items-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                            Submit
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}