{% extends 'core/base.html' %}

{% block content %}
{% load static %}
<div class="w-full h-full p-16 flex justify-center">
    <div class="container w-full p-16 flex flex-col items-center justify-center">
        <div class="w-full pb-2 flex">
            <div
                class="w-full flex flex-col items-center justify-center border border-gray-300 bg-white rounded-lg shadow-lg">
                <a href="{% url 'pets:detail' pet.id %}">
                    <div class="w-full flex pt-20 pr-2">
                        <div class="w-[40%] flex pr-2">
                            {% if pet.image %}
                            <!-- If there's an image, use it -->
                            <img src="{{ pet.image.url }}" alt="Image of {{ pet.name }}"
                                class="mb-4 rounded-lg shadow-lg"
                                style="height:250px; width: 250px; object-fit: cover;">
                            {% else %}
                            <!-- Otherwise, use a default image -->
                            <img src="{% static 'pet_app/2chf_800.jpg' %}" alt="Default profile picture"
                                class="mb-4 rounded-lg shadow-lg"
                                style="height:250px; width: 250px; object-fit: cover;">
                            {% endif %}
                        </div>
                        <div class="w-[60%] flex flex-col pl-2">
                            <div class="w-full py-1 flex border-b border-slate-300">
                                <h1 class="flex text-2xl font-bold p-6 px-1 pt-1">{{ pet.name }}</h1>
                            </div>
                            <div class="w-full pt-4 flex flex-col lg:flex-row lg:flex-wrap">
                                <div class="flex flex-col p-1">
                                    <p class="p-2 text-md text-gray-700"><strong>Species:</strong> {{pet.species}}</p>
                                    <p class="p-2 text-md text-gray-700"><strong>Breed:</strong> {{pet.breed}}</p>
                                </div>
                                <div class="flex flex-col p-1">
                                    <p class="p-2 text-md text-gray-700"><strong>Age:</strong> {{pet.age}}</p>
                                    <p class="p-2 text-md text-gray-700"><strong>Gender:</strong> {{pet.gender}}</p>
                                    <p class="p-2 text-md text-gray-700"><strong>Spayed or
                                            Neutered:</strong>{{pet.spayed_neutered}}</p>
                                </div>
                                <div class="flex flex-col p-4 items-center justify-center">
                                    <h2 class="text-xl font-semibold mb-2">Medical History</h2>
                                    <ul class="list-disc pl-5 text-gray-600">
                                        {% for history in pet.medical_history.all %}
                                        <li>{{ history }}</li>
                                        {% empty %}
                                        <li class="text-gray-500 italic">No medical history records available.</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="flex flex-row p-2">
                    <div class="flex p-6">
                        <button
                            class="h-fit p-[2px] flex flex-row items-center justify-end  font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                            <span
                                class="w-60 py-1 flex flex-row items-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                                <a href="{% url 'pets:add_weight_record' pet.id %}" class="w-full flex flex-row justify-center
                        items-center">
                                    Add New Weight
                                </a>
                            </span>
                        </button>
                    </div>
                    <div class="flex p-6">
                        <button
                            class="h-fit p-[2px] flex flex-row items-center justify-end  font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                            <span
                                class="w-60 py-1 flex flex-row items-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                                <a href="{% url 'pets:edit' pet.id %}" class="w-full flex flex-row justify-center
                    items-center">
                                    Edit Your Pet Profile
                                </a>
                            </span>
                        </button>
                    </div>
                    <div class="flex p-6">
                        <button
                            class="h-fit p-[2px] flex flex-row items-center justify-end  font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                            <span
                                class="w-60 py-1 flex flex-row items-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                                <a href="{% url 'pets:delete' pet.id %}" class="w-full flex flex-row justify-center
                    items-center">
                                    Delete Your Pet Profile
                                </a>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% if records %}
        <div class="w-full pt-2 flex flex-row justify-between">
            <div class="w-[35%] pr-2 flex">
                <div class="w-full p-10 flex flex-col items-center bg-white shadow-lg rounded-lg border border-gray-300 ">
                    <h1 class="text-xl font-semibold text-gray-800 mb-4">Pet Weight Overview</h1>
                    <!-- Displaying Current Weight, Goal Weight, and To Goal Weight -->
                    <div class="mt-4 space-y-6">
                        <div class="text-base font-semibold">Current Weight: <span class="text-gray-800">{{ current_weight }}
                            Kgs</span></div>
                        <div class="text-base font-semibold">Goal Weight: <span class="text-gray-800">{{ goal_weight }}
                            Kgs</span></div>
                        <div class="text-base font-semibold">To Goal Weight: <span class="text-gray-800">{{ to_goal_weight }}
                            Kgs</span></div>
                    </div>
                    <div class="flex p-6">
                        <button
                            class="h-fit p-[2px] flex flex-row items-center justify-end  font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                            <span
                                class="w-60 py-1 flex flex-row items-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                                <a href="{% url 'pets:edit_goal_weight' pet.id %}" class="w-full flex flex-row justify-center items-center">
                                    Edit goal weight
                                </a>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Chart.js Graph -->
            <div class="w-[75%] pl-2 flex">
                <div class="w-full p-10 flex  bg-white shadow-lg rounded-lg border border-gray-300">
                    <div class="w-full relative size-full">
                        <!-- h-64 is an arbitrary height, you can adjust as needed -->
                        <canvas id="weightChart"></canvas>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                        const dates = JSON.parse('{{ dates_json|safe }}');
                        const weights = JSON.parse('{{ weights_json|safe }}');
                        const goalWeights = JSON.parse('{{ goal_weights_json|safe }}');

                        const ctx = document.getElementById('weightChart').getContext('2d');
                        const weightChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: dates,
                                datasets: [{
                                    label: 'Weight',
                                    data: weights,
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Light teal with some transparency
                                    borderColor: 'rgb(75, 192, 192)', // Solid teal
                                    borderWidth: 1,
                                    yAxisID: 'y',
                                },
                                {
                                    label: 'Goal Weight',
                                    data: goalWeights,
                                    backgroundColor: 'rgba(192, 75, 75, 0.2)', // Light red with some transparency
                                    borderColor: 'rgb(192, 75, 75)', // Solid red
                                    borderWidth: 1,
                                    yAxisID: 'y1',
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        position: 'left',
                                    },
                                    y1: {
                                        beginAtZero: true,
                                        position: 'right',
                                        grid: {
                                            drawOnChartArea: false, // Only want the grid lines for one axis to show up
                                        },
                                    },
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {% else %}
        {% endif %}
    </div>
</div>

{% endblock %}