{% extends 'core/base.html' %}

{% block title %} Add your furry Friend {% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="w-full h-full p-16 flex justify-center bg-white">
    <div class="container w-[60%] p-6">
        <h1 class="text-2xl font-bold mb-6">Add your Pets</h1>
        <form method="post" action="." class="p-6">
            {% csrf_token %}

            <div class="mb-4">
                {% for field in form %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label> {{ field|add_class:"shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                    {% if field.errors %}
                    <p class="text-red-500 text-xs italic">{{ field.errors }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="flex items-center justify-center"> 
                <button type="submit"
                    class="h-fit p-[2px] flex flex-row items-center justify-end  font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                    <span
                        class="w-60 py-1 flex flex-row justify-center items-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                        submit
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const speciesSelect = document.getElementById('id_species');
        const breedSelect = document.getElementById('id_breed');

        const breedChoices = JSON.parse('{{ breed_choices_json|safe }}');

        // Function to update breeds based on the selected species
        function updateBreeds(selectedSpecies) {
            const breeds = breedChoices[selectedSpecies] || [];
            breedSelect.innerHTML = ''; // Clear existing options
            breeds.forEach(function (breedTuple) {
                breedSelect.innerHTML += `<option value="${breedTuple[0]}">${breedTuple[1]}</option>`;
            });
        }

        // Event listener for species selection change
        speciesSelect.addEventListener('change', function () {
            updateBreeds(speciesSelect.value);
        });

        // Populate breeds on initial page load based on the default or currently selected species
        updateBreeds(speciesSelect.value);
    });
</script>

{% endblock %}