{% extends 'core/base.html' %}

{% block title %} Add your furry Friend {% endblock %}

{% block content %}
{% load static %}

<div class="w-full h-full p-16 flex justify-center">
    <div class="container w-full p-16 flex flex-col items-center justify-center">
        <div class="w-full pb-2 flex">
        <h1 class="text-2xl font-bold mb-3">My Pets</h1>
    </div>
    <div id="petsContainer" class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
        <!-- JavaScript will dynamically render pet cards or a message if no pets are available -->
    </div>
</div>


<script>
    const petsData = JSON.parse('{{ pets|safe }}');

    if (petsData.length === 0) {
        document.getElementById('petsContainer').innerHTML = '<div class="text-gray-600 text-center py-4">No pets added yet.</div>';
    } else {
        petsData.forEach(pet => {
            const defaultImageUrl = '{% static "pet_app/2chf_800.jpg" %}'; 
            const petImageUrl = pet.image_url ? pet.image_url : defaultImageUrl; 
            const petCard = `
                <div class="p-6 card bg-white shadow-lg rounded-lg p-4">
                    <img src="${petImageUrl}" alt="${pet.name}" class="rounded-lg mb-4" style="height:110px; width: 110px;; object-fit: cover;">
                    <h2 class="p-1 text-xl font-bold">${pet.name}</h2>
                    <p class="p-1">Species: ${pet.species}</p>
                    <p class="p-1">Breed: ${pet.breed}</p>
                    <p class="p-1">Gender: ${pet.gender}</p>
                    <p class="p-1">Age: ${pet.age}</p>
                    <p class="p-1">Spayed or Neutered: ${pet.spayed_neutered}</p>
                    <p class="p-1">Medical history: ${pet.medical_history.join(', ')}</p>
                    <div class="p-1"> 
                        <button type="submit"
                        class="h-fit p-[2px] flex flex-row items-center justify-end  font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                        <span
                            class="w-60 py-1 flex flex-row justify-center items-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                            <a href="/pets/${pet.id}/" class="text-base font-bold">see more</a>
                        </span>
                        </button>
                    </div>
                </div>
            `;
            document.getElementById('petsContainer').innerHTML += petCard;
        });
    }
</script>


{% endblock %}