{% extends 'core/base.html' %}

{% block title %} Create a Slot Appointment {% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="w-full h-full p-32 flex justify-center">
    <div class="container w-[70%] my-8 p-6 bg-white shadow-lg rounded-lg">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Create Appointment Slot</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {% for field in form %}
            <div class="flex flex-col">
                <label for="{{ field.id_for_label }}" class="text-gray-700 font-medium">{{ field.label }}</label>
                {{ field|add_class:"mt-1 px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300" }}
                {% if field.errors %}
                <span class="text-red-500 text-xs">{{ field.errors }}</span>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit"
                class="py-2 px-4 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-300">Create
                Slot</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const startTimeInput = document.querySelector('input[name="start_time"]');
        const endTimeInput = document.querySelector('input[name="end_time"]');

        function validateTime() {
            if (startTimeInput.value && endTimeInput.value) {
                if (endTimeInput.value <= startTimeInput.value) {
                    alert('End time must be after start time.');
                    endTimeInput.value = ""; // Clear end time if it's invalid
                }
            }
        }

        startTimeInput.addEventListener('change', validateTime);
        endTimeInput.addEventListener('change', validateTime);
    });
</script>
{% endblock %}