{% extends 'core/base.html' %}

{% block title %} Slots Appointments {% endblock %}

{% block content %}
<div class="w-full h-full p-32 flex justify-center">
    <div class="container w-[75%] p-6 flex flex-col bg-white shadow-md rounded-lg">
        <div class="flex flex-row items-center justify-between">
            <h1 class="flex text-2xl font-semibold text-gray-800 mb-4">Appointment Slots</h1>
            <div class="flex p-3 items-center justify-center">
                <button
                    class="h-fit p-[2px] flex flex-row items-center justify-center font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                    <span
                        class="w-60 py-1 flex flex-row items-center justify-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                        <a href="/dashboard/appointments/create-slot/">
                            Create slots
                        </a>
                    </span>
                </button>
            </div>
        </div>

        <div class="flex  flex-col p-10 overflow-hidden">
            <ul class="divide-y divide-gray-200">
                {% for slot in slots_appointments %}
                <li class="p-4 hover:bg-gray-50">
                    <p><span class="font-semibold">Date:</span> {{ slot.date }}</p>
                    <p><span class="font-semibold">Start Time:</span> {{ slot.start_time }}</p>
                    <p><span class="font-semibold">End Time:</span> {{ slot.end_time }}</p>
                    <p><span class="font-semibold">Booked:</span> {{ slot.is_booked }}</p>
                    <p><span class="font-semibold">Vet Staff:</span> {{ slot.vet_staff }}</p>
                    <p><span class="font-semibold">Service Type:</span> {{ slot.service_type }}</p>
                    <div class="flex p-3 items-center justify-center">
                        <button
                            class="h-fit p-[2px] flex flex-row items-center justify-center font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                            <span
                                class="w-60 py-1 flex flex-row items-center justify-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                                <a href="{% url 'appointments:delete_slot' slot.id %}">Delete</a>
                            </span>
                        </button>
                    </div>
                </li>
                {% empty %}
                <li class="text-gray-700">No appointment slots available.</li>
                <div class="flex p-3 items-center justify-center">
                    <button
                        class="h-fit p-[2px] flex flex-row items-center justify-center font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                        <span
                            class="w-60 py-1 flex flex-row items-center justify-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                            <a href="/dashboard/appointments/create-slot/">
                                Create slots
                            </a>
                        </span>
                    </button>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}