{% extends 'core/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}

<div class="w-full h-full flex py-6 px-6">
    <div class="relative w-full h-full bg-transparent">
        <!-- Background Image -->
        <img src="{% static 'pet_app/2chf_800.jpg' %}" alt="Laboratory Image"
            class="absolute top-0 left-0 w-full h-full opacity-30 -z-10">
        <!-- Check for Lab Staff -->
        {% if request.user.is_vetstaff %}
        <div class="container mx-auto p-4 border border-red-500">
            <div class="flex flex-wrap -mx-4"> <!-- Margin x-4 for spacing between the quadrants -->
                <!-- Services List and Request List -->
                <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0 border border-red-500">
                    <div class="bg-white p-4 rounded-xl shadow-md mb-4">
                        <a href="{% url 'services:list' %}"
                            class="block py-2 px-4 bg-blue-600 rounded-xl text-white">Services List</a>
                    </div>
                    <div class="bg-white p-4 rounded-xl shadow-md">
                        <a href="{% url 'services:request_list' %}"
                            class="block py-2 px-4 bg-blue-600 rounded-xl text-white">Requested List</a>
                    </div>
                </div>

                <!-- Appointments and Slots -->
                <div class="w-full md:w-1/2 px-4 border border-red-500">
                    <div class="bg-white p-4 rounded-xl shadow-md mb-4">
                        <a href="{% url 'appointments:appointments_list' %}"
                            class="block py-2 px-4 bg-blue-600 rounded-xl text-white">Appointments list</a>
                    </div>
                    <div class="bg-white p-4 rounded-xl shadow-md mb-4">
                        <a href="{% url 'appointments:create_slot' %}"
                            class="block py-2 px-4 bg-blue-600 rounded-xl text-white">Create Appointments Slots</a>
                    </div>
                    <div class="bg-white p-4 rounded-xl shadow-md">
                        <a href="{% url 'appointments:slots_view' %}"
                            class="block py-2 px-4 bg-blue-600 rounded-xl text-white">Slots Appointments</a>
                    </div>
                </div>

                <!-- Medical Visit and Records -->
                <div class="w-full md:w-1/2 px-4 mb-4 md:mb-0 border border-red-500">
                    <div class="bg-white p-4 rounded-xl shadow-md mb-4">
                        <a href="{% url 'medicalvisit:medical_visit' %}"
                            class="block py-2 px-4 bg-blue-600 rounded-xl text-white">Pet Medical Visit</a>
                    </div>
                    <div class="bg-white p-4 rounded-xl shadow-md">
                        <!-- The URL here should lead to the medical visit records page -->
                        <a href="{% url 'medicalvisit:medical_visit_list' %}"
                            class="block py-2 px-4 bg-blue-600 rounded-xl text-white">Medical Visit Records</a>
                    </div>
                </div>

                <!-- Inventory (Placeholder as no URL or description given) -->
                <div class="w-full md:w-1/2 px-4 border border-red-500">
                    <div class="bg-white p-4 rounded-xl shadow-md">
                        <!-- The URL here should lead to the inventory page -->
                        <a href="#" class="block py-2 px-4 bg-blue-600 rounded-xl text-white">Inventory</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Check for Clients -->
        {% elif request.user.is_petowner %}
        <div class="container flex flex-col border border-red-500">
            <div class="w-full pb-2 flex flex-row">
                <div class="w-[75%] pr-2">
                    <div class="w-full flex flex-col border border-red-500 rounded-md">
                        <!-- Pet Cards Section -->
                        <div class="w-[5000px] py-2 flex flex-row overflow-hidden">
                            {% for pet in pets %}
                            <div class="w-fit px-2 flex">
                                <div class="w-full flex flex-col rounded-lg shadow">
                                    <!-- Make image clickable and lead to pet details -->
                                    <a href="{% url 'pets:detail' pet.id %}">
                                        <img src="{{ pet.image.url }}" alt="{{ pet.name }}"
                                            class="w-32 h-32 object-cover rounded-t-lg">
                                    </a>
                                    <div class="w-full flex">
                                        <h3 class="w-full text-center font-semibold">{{ pet.name }}</h3>
                                        <!-- Other pet details can go here -->
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Add more pets button -->
                        <div class="h-fit flex">
                            <a href="{% url 'pets:add_pet' %}"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-md">
                                Add More Pets
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-[25%] pl-2   border border-red-500">
                    <div class="bg-white w-fit rounded-xl shadow-md p-4 flex">
                        <div class="w-fit grid-cols-1 md:grid-cols-2 lg:grid-rows-4 gap-4">
                            <!-- Request Services Button -->
                            <div class="py-2 px-4">
                                <a href="{% url 'services:request_service' %}"
                                    class="block py-2 px-4 bg-blue-600 rounded-xl text-white hover:bg-blue-700 transition duration-300 text-center">Request
                                    Services</a>
                            </div>
                            <!-- Payment Button -->
                            <div class="py-2 px-4">
                                <a href="{% url 'services:payment' %}"
                                    class="block py-2 px-4 bg-blue-600 rounded-xl text-white hover:bg-blue-700 transition duration-300 text-center">Payment</a>
                            </div>
                            <!-- Appointments List Button -->
                            <div class="py-2 px-4">
                                <a href="{% url 'appointments:appointments_list' %}"
                                    class="block py-2 px-4 bg-blue-600 rounded-xl text-white hover:bg-blue-700 transition duration-300 text-center">Appointments
                                    List</a>
                            </div>
                            <!-- Requested List Button -->
                            <div class="py-2 px-4">
                                <a href="{% url 'services:request_list' %}"
                                    class="block py-2 px-4 bg-blue-600 rounded-xl text-white hover:bg-blue-700 transition duration-300 text-center">Requested
                                    List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full pt-2 flex flex-row">
                <div class="w-[50%] pr-2  border border-red-500">
                    <div class="bg-white w-fit rounded-xl shadow-md p-4 flex">
                        <!-- Requested List Button -->
                        <div class="py-2 px-4">
                            <a href="{% url 'medicalvisit:medical_visit_list' %}"
                                class="block py-2 px-4 bg-blue-600 rounded-xl text-white hover:bg-blue-700 transition duration-300 text-center">Medical
                                Visit Records
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-[50%] pr-2  border border-red-500">
                    <div class="bg-white w-fit rounded-xl shadow-md p-4 flex">
                        <!-- Requested List Button -->
                        <div class="py-2 px-4">
                            <a href="{% url 'pets:add_weight_record'%}"
                                class="block py-2 px-4 bg-blue-600 rounded-xl text-white hover:bg-blue-700 transition duration-300 text-center">Add
                                Weight Record
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Fallback for other users -->
        {% else %}
        <div class="w-full bg-gray-100 rounded-xl p-4">
            <h2 class="text-lg">General Information</h2>
            <!-- Add general information accessible to all users -->
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}