{% extends 'core/base.html' %}

{% block title %}Make Payment{% endblock %}

{% block content %}
<div class="w-full h-full p-32 flex justify-center">
    <div class="container w-[80%] p-6 flex flex-col bg-white shadow-md rounded-lg">
        <h1 class="text-2xl font-bold mb-6">Make Payment for the Following Services:</h1>

        <div class="flex flex-col p-4 mb-4">
            <ul class="list-disc list-inside">
                {% for request in service_requests %}
                <li class="mb-2">
                    <span class="font-semibold">{{ request.service.name }}</span> - ${{ request.service.cost }}
                </li>
                {% endfor %}
            </ul>
            <p class="font-semibold mt-4">Total amount to be paid: <span class="text-lg text-blue-600">$ {{ total_cost }}</span></p>
            <div class="flex items-center justify-center">
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    <button
                    class="h-fit p-[2px] flex flex-row items-center justify-center font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                    <span
                        class="w-60 py-1 flex flex-row items-center justify-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                            Pay
                    </span>
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}