{% extends 'core/base.html' %}

{% block title %} Request Detail - {{ request_detail.petowner.username }} {% endblock %}

{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-2xl font-bold mb-4">Request Detail for {{ request_detail.petowner.username }}</h1>
    <h2 class="text-xl font-semibold mb-2">Pet: {{ request_detail.pet.name }}</h2>

    {% if request_detail.service %}
    <p class="mb-3 text-lg">Service: <span class="font-medium">{{ request_detail.service.name }}</span></p>
    {% endif %}

    <div class="mb-4">
        <p class="text-lg font-semibold">Latest Status:</p>
        {% if request_detail.latest_status_update %}
        <p class="text-gray-700">{{ request_detail.latest_status_update }}</p>
        {% else %}
        <p class="text-gray-500">No status updates available.</p>
        {% endif %}
    </div>

    <div class="bg-white shadow-md rounded-lg p-4">
        <h2 class="text-lg font-semibold mb-3">Updates History</h2>
        {% for update in updates %}
        <div class="border-b border-gray-200 py-2">
            <p class="font-medium">Status: {{ update.get_status_display }}</p>
            <p>Note: {{ update.notes }}</p>
            <p>Updated by: {{ update.updated_by.username }}</p>
            <p>Updated at: {{ update.created_at }}</p>
        </div>
        {% empty %}
        <p class="text-gray-500">No updates have been made for this request.</p>
        {% endfor %}
    </div>

    <p class="mt-4 mb-4 text-lg font-semibold">
        Payment Status: <span class="font-medium text-gray-700">
        {% if request_detail.paid %}
        Paid
        {% else %}
        Not Paid
        {% endif %}
        </span>
    </p>
</div>

<div class="container mx-auto p-6">
    {% if request.user.is_petowner %}
    <div class="mt-4">
        <form action="{% url 'services:cancel_service_request' request_detail.id %}" method="post" class="mb-3">
            {% csrf_token %}
            <input type="submit" value="Cancel Request" class="py-2 px-4 bg-red-500 hover:bg-red-600 text-white font-semibold rounded-lg cursor-pointer" />
        </form>

        <a href="{% url 'appointments:add_schedule' request_detail.id %}" class="inline-block py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg">Schedule Appointment</a>
    </div>
    {% endif %}
</div>

<div class="container mx-auto p-6">
    {% if request.user.is_vetstaff %}
    <div class="mt-4 bg-white shadow-md rounded-lg p-4">
        <h2 class="text-lg font-semibold mb-3">Update Status</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="py-2 px-4 bg-green-500 hover:bg-green-600 text-white font-semibold rounded-lg">Update Status</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
