{% extends 'core/base.html' %}

{% block title %} The pets App {% endblock %}


{% block content %}
<div class="w-full h-screen p-32 flex  justify-center bg-white border-2 border-gray-200 rounded-lg">
    <div class="container w-[80%] px-8 pt-8 pb-4 mb-4">
        <h1 class="text-2xl font-bold mb-4">Request Service</h1>

        <form method="post" action=".">
            {% csrf_token %}

            <!-- Manually render the pet field -->
            <div class="mb-4 text-base font-semibold">
                {{ form.pet.label_tag }}
                {{ form.pet }}
            </div>

            <h3 class="mb-5 text-lg font-medium text-gray-900">Choose a Service:</h3>
            <ul class="grid w-full gap-4 md:grid-cols-3">
                {% for service in services %}
                <li>
                    <!-- Custom checkbox for each service. Note: Adjust to radio buttons or similar for single selection if needed -->
                    <input type="radio" id="service-{{ service.id }}" name="service" value="{{ service.id }}"
                        class="hidden peer" required>
                    <label for="service-{{ service.id }}"
                        class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer hover:text-gray-600 hover:bg-gray-50 peer-checked:border-rose-300 peer-checked:text-gray-600">
                        <div class="block">
                            <div class="w-full text-base font-semibold">{{ service.name }}</div>
                        </div>
                    </label>
                </li>
                {% endfor %}
            </ul>
            <div class="w-full p-4 flex flex-row justify-center">
                <button
                    class="h-fit p-[2px] flex flex-row items-center justify-center text-sm font-medium text-gray-900 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                    <span
                        class="w-60 py-1 flex flex-row items-center justify-center rounded-md bg-white hover:bg-opacity-0 transition-all ease-in duration-75">
                        Select service
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>


{% endblock %}